/* .body {
  background-color: maroon;
} */
.homeContainer {
  margin-left: 16%;
  /* margin-top: 40px; */
  width: 92%;
}

#title {
  display: inline-block;
  margin-top: 80px;
  margin-right: 18%;
}
