@media (min-width: 600px) {
}

/* .navWrapper {
} */

#navLogo {
  margin-right: 1%;
  margin-top: 76px;
  z-index: -1;
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  font-size: 16px;
  color: gold;
  background-color: maroon;
  width: 100%;
  height: 9%;
  box-shadow: 0 12px 12px rgba(43, 12, 129, 0.5);
  background-color: maroon;
  z-index: +2;
}
.navMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: -24%;
  list-style: none;
  /* margin-left: 1%; */
  padding-top: 0.5%;
  width: 50%;
}

.navMenu li {
  background-color: maroon;
}

a {
  text-decoration: none;
  color: gold;
}

a:hover {
  color: gold;
  /* background-color: rgb(98, 114, 149); */
  font-size: 18px;
  font-weight: 600;
}

#navScreens {
  display: block;
  list-style-type: none;
  background-color: transparent;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
}

#navScreens li {
  display: none;
  max-width: 260px;
}
#navScreens::before {
  /* content: ""; */
  display: block;
}

#navScreens:hover li {
  display: block;
  z-index: +2;
}

#navHowTo {
  display: inline-block;
  list-style-type: none;
  background-color: maroon;
  text-align: left;
}

#navHowTo li {
  display: block;
  width: 140px;
  padding-top: 4%;
  display: none;
  background-color: maroon;
  margin-bottom: 8px;
}
#navHowTo::before {
  content: "How to play";
  display: inline-block;
}

#navHowTo:hover li {
  display: block;
  width: 140px;
  z-index: +2;
}

#navMakeOrderForm {
  display: block;
  list-style-type: none;
  background-color: maroon;
}

#navMakeOrderForm li {
  display: none;
  background-color: maroon;
  width: 130px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: +2;
  padding-right: 10px;
}

#navMakeOrderForm::before {
  content: "Make OrderForm";
  display: block;
}

#navMakeOrderForm:hover li {
  display: block;
  width: 160px;
  text-align: left;
  padding-left: -12px;
  margin-right: 20px;
  z-index: +2;
}

.navData {
  display: block;
  list-style-type: none;
  padding-bottom: 8px;
  background-color: maroon;
}

.navData li {
  display: block;
  width: 140px;
  padding-top: 4%;
  display: none;
  background-color: maroon;
}

.navData::before {
  content: "Data Sheets";
  font-size: 16px;
}

.navData:hover li {
  display: block;
  width: 140px;
  z-index: +2;
}

#navOrderList {
  display: block;
  list-style-type: none;
  padding-bottom: 8px;
  background-color: maroon;
}

#navOrderList li {
  display: block;
  /* width: 160px; */
  padding-top: 12%;
  display: none;
  background-color: maroon;
}

#navOrderList::before {
  content: "Search";
  font-size: 16px;
  margin-left: 46px;
}

#navOrderList:hover li {
  display: block;
  width: 10px;
  z-index: +2;
  align-content: right;
}
